@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 1s ease-out forwards;
}

.animate-slide-up {
  animation: slide-up 1s ease-out forwards;
}


.slick-dots.custom-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-dots.custom-dots li {
  margin: 0 4px;
}

.slick-dots.custom-dots li .dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.slick-dots.custom-dots li.slick-active .dot {
  width: 40px;
  height: 10px;
  background-color:white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-snap-type: y mandatory;
}

/* Add this in your global CSS file (e.g., index.css) */
.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px #2563eb; /* Tailwind's blue-600 */
}



/* Custom scroll bar styles For Score card*/
.table-container::-webkit-scrollbar {
  width: 3px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #4A0D34; /* Scroll bar color */
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Scroll bar background */
}

.fancy-font {
  font-family: 'Playfair';
  font-size: 2rem; /* or any size you like */
  letter-spacing: 0.1rem; /* adds space between letters */
}

.glass-shadow {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Creates a soft shadow */
  backdrop-filter: blur(5px); /* Adds a glass effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Adds a transparent border */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.glass-shadow:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Increase shadow depth on hover */
}


/* General styles for DatePicker */
.ant-picker {
  border: 0.0999rem solid #d1d5db  !important; /* Gray border */
  border-radius: 0.375rem  !important; /* Rounded corners */
  padding: 4.5px 10px  !important;
}

.ant-picker input {
  color: rgb(87, 87, 87) !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  font-family: 'Helvetica', 'Arial', sans-serif !important; /* Font family */
  opacity: 1 !important;
}

/* Focus styles */
.ant-picker-focused {
  border-color: #00175f !important; /* Custom border color when focused */
  box-shadow: #1c1c1c  !important;
  border: 1px solid  !important;
}

/* Placeholder color */
.ant-picker-input input::placeholder {
  font-weight: 400;
  font-size: 16px !important;
  color: #9CA3AF !important; /* Custom gray placeholder color */
  opacity: 1; /* Ensures color appears fully */
  font-family: 'Helvetica', 'Arial', sans-serif !important;
}

/* Override default calendar date styles */
.ant-calendar-cell {
  padding: 1rem; /* Cell padding */
}

/* Highlighted date styles */
.ant-calendar-cell-selected {
  background-color: #00175f  !important; /* Selected date background color */
  color: white  !important; /* Selected date text color */

}

/* Hover effect for calendar dates */
.ant-calendar-cell:hover {
  background-color: rgba(0, 23, 255, 0.1)  !important; /* Light blue on hover */
}

/* Styles for the date input when disabled */
.ant-picker-disabled {
  background-color: #f9fafb; /* Light background for disabled input */
  color: #6b7280; /* Gray text color */
  font-size: larger;
}

/* andt select global css */
.ant-select-selector {
  border: 1px solid #d1d5db  !important; /* Gray border */
  border-radius: 0.375rem  !important; /* Rounded corners */
  padding: 1px 5px !important;
}

.ant-select-selection-item {
  color: rgb(87, 87, 87) !important;
  font-weight: 500 !important;
  font-family: 'Helvetica', 'Arial', sans-serif !important; /* Font family */
  opacity: 1 !important;
}

/* Focus styles */
.ant-select-focused {
  border-color: #00175f !important; /* Custom border color when focused */
  box-shadow: #1c1c1c  !important;
  border-radius: 0.375rem !important;
  border: 1px solid  !important;
}

/* Placeholder color */
.ant-select-selection-placeholder{
  font-weight: 400;
  font-size: 16px !important;
  color: #4e4f51 !important; /* Custom gray placeholder color */
  opacity: 1; /* Ensures color appears fully */
}

/* Carousel container: prevent white space issues */
.carousel-wrapper {
  overflow: hidden;
  width: 100%; /* Prevent overflow */
  box-sizing: border-box;
  margin: 0 auto; /* Center align */
}

/* Prevent child elements from causing overflow */
.carousel-content {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-content > div {
  flex: 0 0 100%; /* Each item takes 100% width */
  max-width: 100%;
}


/* custom toolbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ebebeb; /* Track background */
  border-radius: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b4b4b4; /* Thumb color */
  opacity: 50;
  border-radius: 10px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aeaeae; /* Hover color for the thumb */
}

.effect {
  font-family:  "Josefin Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 3px;
}
#richmond-text {
  font-size: 8vw; /* Responsive font size for larger devices */
  color: transparent;
  background: linear-gradient(180deg, #0E1E79, #074696);
  -webkit-background-clip: text; /* WebKit-based browsers */
  background-clip: text; /* Standard property for compatibility */
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#college-text {
  font-size: 6vw; /* Responsive font size for larger devices */
  color: transparent;
  background: linear-gradient(180deg,  #4A0D34, #B01F7C);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

/* Completely remove border and shadow */
.custom-datepicker {
  border: none !important; /* Ensures no border */
  box-shadow: none !important; /* Removes any shadow */
  outline: none !important; /* Removes focus outline */
  background-color: transparent !important; /* Transparent background */
  cursor: pointer !important;
  font-size: medium;
}
.custom-datepicker.hidden-input-datepicker {
  border: none !important; /* Ensures no border */
  box-shadow: none !important; /* Removes any shadow */
  outline: none !important; /* Removes focus outline */
  background-color: transparent !important; /* Transparent background */
}

/* Prevent hover effects */
.custom-datepicker.hidden-input-datepicker:hover,
.custom-datepicker.hidden-input-datepicker:focus {
  box-shadow: #00175f !important;
  border-bottom: #00175f solid 1px !important;
}

/* Customize the calendar icon (optional styling) */
.custom-calendar-icon {
  color: #575656; /* Set desired icon color */
  font-size: 1rem; /* Adjust icon size */
  cursor: pointer !important; /* Makes the icon clickable */
  padding-right: 20px !important;
  font-size: medium;
}


.custom-calendar-icon:hover {
  font-weight: 900;
  color: #4A0D34 !important;
  box-shadow: #00175f !important;
  border-bottom: #00175f solid 1px !important;
  cursor: pointer !important; /* Makes the icon clickable */
 
}

/* Additional styles for input field inside DatePicker */
.custom-datepicker.hidden-input-datepicker .ant-picker-input > input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important;
  width: 0 !important;
  padding: 0 !important;
}

/* Remove visible border in case of overriding styles */
.custom-datepicker.hidden-input-datepicker .ant-picker {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  cursor: pointer !important;
}

/* Rounding news creating body container */
.custom-quill {
  border-radius: 8px; /* Adjust as needed */
}

/* Apply border radius to the ReactQuill component */
.quill-editor {
  border-bottom-right-radius: 8px !important; /* Adjust the value to your preference */
  border-bottom-left-radius: 8px !important;
  overflow: hidden; /* Ensures the content does not overflow the rounded corners */
}

/* Apply border radius to the Quill's internal container */
.ql-container {
  border-bottom-right-radius: 8px !important; /* Adjust the value to your preference */
  border-bottom-left-radius: 8px !important;
}

/* Apply border radius to the Quill toolbar */
.ql-toolbar {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

/* Highlight the ReactQuill container when it is focused */
.quill-editor:focus-within .ql-container {
  border: 2px solid #00175f;  /* Border color when focused */
  box-shadow: 0 0 8px #00175f;  /* Optional: adds a glowing effect */
  transition: border 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Optional: Highlight the Quill toolbar when it is focused */
.quill-editor:focus-within .ql-toolbar {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  border: 2px solid #00175f;  /* Highlight color for toolbar */
  box-shadow: 0 0 8px #00175f;  /* Optional: glowing effect for toolbar */
}

#bowlingStyle {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  text-align: left;
}

#bowlingStyle option {
  font-size: 14px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; /* Aligns short name on the left and long name on the right */
  white-space: nowrap; /* Prevents text from wrapping */
}

#bowlingStyle option span.short-name {
  text-align: left;
  flex: 1; /* Ensures the short name stays left-aligned */
}

#bowlingStyle option span.long-name {
  text-align: right;
  flex: 1; /* Ensures the long name stays right-aligned */
}





/* Media queries for responsiveness */
/* Large screens */
@media (min-width: 1280px) {
  #richmond-text {
    font-size: 12vw;
    margin-top: -3vh;
  }
  #college-text {
    font-size: 12vw;
    margin-top: 30vh;
  }

  /* Hide mobile background on large screens */
  .hide-on-large {
    display: block !important;
  }

  .show-on-small {
    display: none !important;
  }
}

/* Tablet screens (1024px and smaller) */
@media (max-width: 1024px) {
  #richmond-text {
    font-size: 17.5vw;
    margin-top: -7vh;
  }
  #college-text {
    font-size: 17vw;
    margin-top: 10vh;
  }

  .hide-on-large {
    display: block !important;
  }

  .show-on-small {
    display: none !important;
  }
}

/* Mobile screens (768px and smaller) */
@media (max-width: 768px) {
  .effect {
    font-size: 4vw;
  }
  #richmond-text,
  #college-text {
    font-size: 16vw;
    margin-top: 2vh;
  }

  /* This will ensure the mobile view background is hidden on non-mobile devices */
  .hide-on-large {
    display: block !important;
  }

  .show-on-small {
    display: block !important;
  }

}

/* Extra small devices (480px and smaller) */
@media (max-width: 480px) {
  .effect {
    font-size: 9.5vw;
  }
  #richmond-text,
  #college-text {
    font-size: 17vw;
    margin-top: 0.1vh;
  }

  /* Hide desktop and tablet backgrounds */
  .hide-on-small {
    display: none !important;
  }

  .show-on-small {
    display: block !important;
  }
}







